#navbar {
  background-color: dimgray;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px;
}

#img {
  width: 10%;
}

.nav-brand {
  align-items: center;
  display: flex;
  margin: 1rem 3rem;
  gap: 1rem;
}

.nav-list {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.nav-list li {
  list-style: none;
}
.nav-list li a {
  color: grey;
  text-decoration: none;
}
